:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --font-raleway: 'Raleway', sans-serif;
    --font-open-sans: 'Open Sans', sans-serif;
    --button-radius: 40px;

}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 1352px;

}

.header {
    height: 70px;
    box-shadow: 0 3px 6px #00000029;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

}

.page-logo {
    font-family: var(--font-raleway);
    color: var(--color-primary);
    font-size: 32px;

}

.nav-ul {
    display: flex;

}

.nav-a {
    font-family: var(--font-open-sans);
    color: var(--color-grey);
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 3.28px;
    text-transform: uppercase;
    border-bottom: 4px solid transparent;
    padding: 28px 18px 22px;
    cursor: pointer;
}

.nav-a:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}

.nav-ul li{
    padding: 0 26px;
}
.nav-ul li:last-child{
    padding: 0 0;
}
.opening{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.opening-main{
    text-align: center;
    margin-top: 130px;
}
.opening-header{
    font-family: var(--font-raleway);
    font-size: 49px;
    color: var( --color-black);
    text-transform: capitalize;
}
.opening-text{
    font-family: var(--font-open-sans);
    font-size: 16px;
    color: var( --color-black);
    margin-top: 20px;
    margin-bottom: 60px;
}
.btn{
    padding: 22px 157px;
    background-color: var(--color-primary);
    border-radius: var(--button-radius);
    box-shadow: 5px 10px 14px #07ACE629;
    font-family: var(--font-open-sans);
    font-weight: 700;
    color: var(--color-white);
}
.opening-img{
    height: auto;
    width: 100%;
}